
@{
    ViewBag.Title = "Draft Mode";
    SelectList listChamp = FirstAPI.WebHelperTools.SelectListHelper.getAllChampions();
}


<div class="row col-md-12">
    <div class="col-md-3 text-center">
        <h3>Your Team</h3>
    </div>
    <div class="col-md-6 text-center">
        <h3>DraftHelper</h3>
    </div>
    <div class="col-md-3 text-center">
        <h3>Enemy Team</h3>
    </div>
</div>
<div class="row" style="border: 1px solid #dddddd;padding: 15px;border-radius: 14px;">
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-4">
                Ban 1
                @Html.DropDownList("AllyBan1", listChamp, new { @id = "AllyBan1", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-4">
                Ban 2
                @Html.DropDownList("AllyBan2", listChamp, new { @id = "AllyBan2", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-4">
                Ban 3
                @Html.DropDownList("AllyBan3", listChamp, new { @id = "AllyBan3", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
        </div>
        <div class="col-md-5 col-md-offset-2">
            <div class="col-md-4">
                Ban 3
                @Html.DropDownList("EnemyBan3", listChamp, new { @id = "EnemyBan3", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-4">
                Ban 2
                @Html.DropDownList("EnemyBan2", listChamp, new { @id = "EnemyBan2", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-4">
                Ban 1
                @Html.DropDownList("EnemyBan1", listChamp, new { @id = "EnemyBan1", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-md-5">
            <div class="col-md-4">
                Ban 4
                @Html.DropDownList("AllyBan4", listChamp, new { @id = "AllyBan4", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-4">
                Ban 5
                @Html.DropDownList("AllyBan5", listChamp, new { @id = "AllyBan5", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
        </div>
        <div class="col-md-5 col-md-offset-2">
            <div class="col-md-4 col-md-offset-4">
                Ban 5
                @Html.DropDownList("EnemyBan5", listChamp, new { @id = "EnemyBan5", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-4">
                Ban 4
                @Html.DropDownList("EnemyBan4", listChamp, new { @id = "EnemyBan4", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" style="border: 1px solid #dddddd;padding-right: 23px;padding-top: 15px;border-radius: 14px;">
    <div class="col-md-3" style="padding-right:30px;">
        <div class="row col-md-offset-10 text-right" style="margin-bottom: 10px;margin-right: -27px;">
            Flex ?
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Top
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("AllyTop", listChamp, new { @id = "AllyTop", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckAllyTop" />
            </div>
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Jungle
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("AllyJungle", listChamp, new { @id = "AllyJungle", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckAllyJungle" />
            </div>
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Mid
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("AllyMid", listChamp, new { @id = "AllyMid", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckAllyMid" />
            </div>
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Adc
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("AllyAdc", listChamp, new { @id = "AllyAdc", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckAllyAdc" />
            </div>
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Support
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("AllySupport", listChamp, new { @id = "AllySupport", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckAllySupport" />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-left: 15px;padding-top: 10px;margin-left: 19px">
        <div class="row col-md-12" id="answerArea" style="min-height:450px;height:auto;border: 1px solid #dddddd;border-radius:10px;display:none">
            @*<ul class="nav nav-pills" style="margin-left: 219px;">
                <li class="active"><a data-toggle="tab" href="#answerTop">Top</a></li>
                <li><a data-toggle="tab" href="#answerJungle">Jungle</a></li>
                <li><a data-toggle="tab" href="#answerMid">Mid</a></li>
                <li><a data-toggle="tab" href="#answerAdc">Adc</a></li>
                <li><a data-toggle="tab" href="#answerSupport">Support</a></li>
            </ul>
            <div class="tab-content" style="border: 1px solid #dddddd;border-radius:10px;height:270px;padding:10px;text-align: center;">
                <div id="answerTop" class="tab-pane fade in active">
                    <h3>Top</h3>
                </div>
                <div id="answerJungle" class="tab-pane fade">
                    <h3>Jungle</h3>
                </div>
                <div id="answerMid" class="tab-pane fade">
                    <h3>Mid</h3>
                </div>
                <div id="answerAdc" class="tab-pane fade">
                    <h3>Adc</h3>
                </div>
                <div id="answerSupport" class="tab-pane fade">
                    <h3>Support</h3>
                </div>
                <div class="text-center row loaderC" style="display:none"><img alt="Loading..." src="~/Content/loader.gif" /></div>
            </div>*@
            <div class="row" style="min-height:90px;height:auto;" >
                <div class="col-md-1 verticalCenter">
                    <div><strong>Top</strong></div>
                </div><div class="col-md-11 verticalCenter">
                    <div id="answerTop" style="margin-bottom:5px"></div>
                </div>
            </div>
            <div class="row" style="min-height:90px;height:auto;border: 1px solid #dddddd;">
                <div class="col-md-1 verticalCenter">
                    <div><strong>Jungle</strong></div>
                </div><div class="col-md-11 verticalCenter">
                    <div id="answerJungle" style="margin-bottom:5px"></div>
                </div>
            </div>
            <div class="row" style="min-height:90px;height:auto;border: 1px solid #dddddd;">
                <div class="col-md-1 verticalCenter">
                    <div><strong>Mid</strong></div>
                </div><div class="col-md-11 verticalCenter">
                    <div id="answerMid" style="margin-bottom:5px"></div>
                </div>
            </div>
            <div class="row" style="min-height:90px;height:auto;border: 1px solid #dddddd;">
                <div class="col-md-1 verticalCenter">
                    <div><strong>Adc</strong></div>
                </div><div class="col-md-11 verticalCenter">
                    <div id="answerAdc" style="margin-bottom:5px"></div>
                </div>
            </div>
            <div class="row" style="min-height:90px;height:auto;">
                <div class="col-md-1 verticalCenter">
                    <div><strong>Support</strong></div>
                </div><div class="col-md-11 verticalCenter">
                    <div id="answerSupport" style="margin-bottom:5px"></div>
                </div>
            </div>
        </div>
        <div class="text-center row loaderC" style="display:none"><img alt="Loading..." src="~/Content/loader.gif" /></div>
    </div>
    <div class="col-md-3" style="margin-left: -24px;">
        <div class="row col-md-offset-10 text-right" style="margin-bottom: 10px;margin-right: -27px;">
            Flex ?
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Top
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("EnemyTop", listChamp, new { @id = "EnemyTop", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckEnemyTop" />
            </div>
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Jungle
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("EnemyJungle", listChamp, new { @id = "EnemyJungle", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckEnemyJungle" />
            </div>
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Mid
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("EnemyMid", listChamp, new { @id = "EnemyMid", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckEnemyMid" />
            </div>
        </div>
        <div class="row" style="height:60px">
            <div class="col-md-1">
                Adc
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("EnemyAdc", listChamp, new { @id = "EnemyAdc", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckEnemyAdc" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                Support
            </div>
            <div class="col-md-9 col-md-offset-1">
                @Html.DropDownList("EnemySupport", listChamp, new { @id = "EnemySupport", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
            </div>
            <div class="col-md-1" style="margin-left: -8px;margin-top: 4px;">
                <input type="checkbox" data-on="Yes" data-off="No" data-size="mini" data-toggle="toggle" id="ckEnemySupport" />
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        max-width: 1700px;
    }

    .select2-selection--single {
        height: 34px !important;
    }

    .verticalCenter {
 /*display: inline-block;*/
 vertical-align: middle;
 float: none;
}
</style>

<script>
    $(document).ready(function () {
        function formatState(state) {
            if (!state.id) {
                return state.text;
            }
            var baseUrl = "@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())";
            var $state = $('<span><img style="height:25px" src="' + baseUrl + state.element.text + '.png"/><strong>  ' + state.element.text + '</strong></span>');
            return $state;
        }

        $(".ddChamp").select2({
            placeholder: "Choose...",
            allowClear: true,
            templateResult: formatState,
            templateSelection: formatState,
            minimumResultsForSearch: 1,
        });

        $('.ddChamp').on('select2:select', function (e) {
            computeDraftInfos();
        });

        $('.ddChamp').on('select2:clear', function (e) {
            computeDraftInfos();
        });

    });

    function computeDraftInfos() {
        $("#answerArea").hide();
        $(".loaderC").show();
        var draftInfos = new Object();
        draftInfos.AllyTop = $("#AllyTop").val();
        draftInfos.AllyJungle = $("#AllyJungle").val();
        draftInfos.AllyMid = $("#AllyMid").val();
        draftInfos.AllyAdc = $("#AllyAdc").val();
        draftInfos.AllySupport = $("#AllySupport").val();

        draftInfos.EnemyTop = $("#EnemyTop").val();
        draftInfos.EnemyJungle = $("#EnemyJungle").val();
        draftInfos.EnemyMid = $("#EnemyMid").val();
        draftInfos.EnemyAdc = $("#EnemyAdc").val();
        draftInfos.EnemySupport = $("#EnemySupport").val();

        draftInfos.FlexAllyTop = $("#FlexAllyTop").val();
        draftInfos.FlexAllyJungle = $("#FlexAllyJungle").val();
        draftInfos.FlexAllyMid = $("#FlexAllyMid").val();
        draftInfos.FlexAllyAdc = $("#FlexAllyAdc").val();
        draftInfos.FlexAllySupport = $("#FlexAllySupport").val();

        draftInfos.FlexEnemyTop = $("#FlexEnemyTop").val();
        draftInfos.FlexEnemyJungle = $("#FlexEnemyJungle").val();
        draftInfos.FlexEnemyMid = $("#FlexEnemyMid").val();
        draftInfos.FlexEnemyAdc = $("#FlexEnemyAdc").val();
        draftInfos.FlexEnemySupport = $("#FlexEnemySupport").val();

        draftInfos.AllyBan1 = $("#AllyBan1").val();
        draftInfos.AllyBan2 = $("#AllyBan2").val();
        draftInfos.AllyBan3 = $("#AllyBan3").val();
        draftInfos.AllyBan4 = $("#AllyBan4").val();
        draftInfos.AllyBan5 = $("#AllyBan5").val();

        draftInfos.EnemyBan1 = $("#EnemyBan1").val();
        draftInfos.EnemyBan2 = $("#EnemyBan2").val();
        draftInfos.EnemyBan3 = $("#EnemyBan3").val();
        draftInfos.EnemyBan4 = $("#EnemyBan4").val();
        draftInfos.EnemyBan5 = $("#EnemyBan5").val();

        var objs = JSON.stringify(draftInfos);

        $.ajax({
            type: "POST",
            url: '@(Url.Action("ComputeDraft",null, new { controller = "Draft" }, Request.Url.Scheme))',
            data: objs,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
        }).complete(function (data) {
            $(".loaderC").hide();
            $("#answerArea").show();

            var allAnswersList = data.responseJSON;
            var listTop = allAnswersList[0];
            var listJungle = allAnswersList[1];
            var listMid = allAnswersList[2];
            var listAdc = allAnswersList[3];
            var listSupport = allAnswersList[4];

            showTopAnswers(listTop);
            showJungleAnswers(listJungle);
            showMidAnswers(listMid);
            showAdcAnswers(listAdc);
            showSupportAnswers(listSupport);
        });

    }

    function buildAnswer(str,answers) {
        $.each(answers, function (i, answer) {
            //str = str + "<div >"
            str = str + "<img style='margin:2px;height:38px;' alt='" + answer.ChampionName + "'  src='@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())" + answer.ChampionName + ".png' />";
            //str = str + "</div>"
        })
        return str;
    }

    function showTopAnswers(answers) {
        var str = "";
        str = str + buildAnswer(str, answers);
        $("#answerTop").html(str);
    }

    function showJungleAnswers(answers) {
        var str = "";
        str = str + buildAnswer(str, answers);
        $("#answerJungle").html(str);
    }

    function showMidAnswers(answers) {
        var str = "";
        str = str + buildAnswer(str, answers);
        $("#answerMid").html(str);
    }

    function showAdcAnswers(answers) {
        var str = "";
        str = str + buildAnswer(str, answers);
        $("#answerAdc").html(str);
    }

    function showSupportAnswers(answers) {
        var str = "";
        str = str + buildAnswer(str, answers);
        $("#answerSupport").html(str);
    }


</script>
