<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DraftHelper - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="icon" href="~/Content/perecastorIcon.png">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Draft Helper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (HttpContext.Current.User.Identity.Name == "0445149d-89f8-47d5-905c-8b27268971ab")//compte admin
                {
                    @Html.Partial("NavbarAdmin")
                }
                else if (!String.IsNullOrEmpty(HttpContext.Current.User.Identity.Name) && !String.IsNullOrEmpty((string)Session["Nickname"]))
                {
                    @Html.Partial("NavbarPlayer")
                }
                else
                {
                    @Html.Partial("NavbarAnonymous")
                }

                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <div class="nav navbar-nav navbar-right">@Html.ActionLink("Logout : " + Session["Nickname"], "Logout", "Login", new { area = "" }, new { @class = "navbar-brand", @style = "font-size:16px" }) </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
