@model IEnumerable<FirstAPI.DbContext.Champion>

@{
    ViewBag.Title = ViewBag.Nickname + "- My Champion Pool";
    int i = 0;
    int j = 0;
}

<br/>
<br />
<p>
    @Html.Partial("AddChampion", new FirstAPI.DbContext.Champion())
</p>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-2">My Champion's List (@Model.Count()):</div>
    <div class="col-md-10">
        @foreach (var item in Model)
            {
                i++;
            <text>
                <div class="containerTest">
                    <img class="imgChamp" style="height:48px" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())/@(item.ChampionName).png" />
                    <a href="@Url.Action("DeleteChampion","ChampionPool",new {championId=item.ChampionId,playerId = ViewBag.PlayerId },null)"><img class="deleteChampIcon" src="~/Content/erase.png" /></a>
                </div>
            </text>
            if (i % 10 == 0)
            {
                @Html.Raw("</div></div><div class='row'><div class='col-md-offset-2 col-md-10'>")
            }
        }

    </div>
</div>


<style>
    .containerTest{
        display:inline;
        position:relative;
        width:70px;
        /*margin-right:5px;
        margin-bottom:10px;*/
    }

    .imgChamp{
        margin-bottom:5px;
        margin-right:5px;
    }

    .deleteChampIcon{
        height: 16px;
        position: absolute;
        top: -20px;
        left: 40px;
    }

</style>
