@model FirstAPI.Models.MatchupInfos

@{
    var myResult = new List<FirstAPI.Models.MatchupInfos>();
    if (Model.Answers?.Count > 0)
    {
        myResult.Add(Model);
    }
}

@if (myResult.Count() > 0)
{
    foreach (var matchupInfos in myResult)
    {
        <div class="row">
            <div class="col-md-12">
                <fieldset class="panel panel-default" style="padding-bottom:10px;">
                    <legend>Estimated Answer <small style="font-size:12px">(Based on informations you have recorded)</small></legend>
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-3 text-center">
                            Ally Team
                        </div>
                        <div class="col-md-3 text-center">
                            Enemy Team
                        </div>
                        <div class="col-md-1 text-center">
                            Patch Version
                        </div>
                        <div class="col-md-5 text-center">
                            Possible Answers <small style="font-size:12px">(Based on informations you have recorded)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="col-md-2" style="margin-left:4px">
                                Top
                            </span>
                            <span class="col-md-2" style="margin-left:-6px">
                                Jungle
                            </span>
                            <span class="col-md-2 " style="margin-left: 9px;">
                                Mid
                            </span>
                            <span class="col-md-2 " style="margin-left: -2px;">
                                Adc
                            </span>
                            <span class="col-md-2 " style="margin-left: -11px;">
                                Support
                            </span>
                        </div>
                        <div class="col-md-3">
                            <span class="col-md-2" style="margin-left:5px">
                                Top
                            </span>
                            <span class="col-md-2" style="margin-left:-9px">
                                Jungle
                            </span>
                            <span class="col-md-2" style="margin-left: 11px;">
                                Mid
                            </span>
                            <span class="col-md-2" style="margin-left: -1px;">
                                Adc
                            </span>
                            <span class="col-md-2" style="margin-left: -10px;">
                                Support
                            </span>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-5 text-center">
                            @*<div class="col-md-2 text-center">
                                    Picks
                                </div>
                                <div class="col-md-2 text-center">
                                    Comments
                                </div>*@
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-3">
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.AllyTopName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyTopName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.AllyJungleName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyJungleName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.AllyMidName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyMidName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.AllyAdcName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyAdcName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.AllySupportName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllySupportName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.EnemyTopName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyTopName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.EnemyJungleName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyJungleName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.EnemyMidName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyMidName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.EnemyAdcName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyAdcName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (!string.IsNullOrEmpty(matchupInfos.EnemySupportName))
                    {
                                <text>
                                    <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemySupportName).png" ; />
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span><i>N/A</i></span>
                                </text>
                            }
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        @matchupInfos.PatchVersion
                    </div>
                    <div class="col-md-3">
                        @{
                            string champName;
                        }
                        @foreach (var answer in matchupInfos.Answers)
                        {
                            champName = ((List<FirstAPI.DbContext.Champion>
                                )Session["GlobalChampions"]).Where(x => x.ChampionId == answer.ChampionId).FirstOrDefault().ChampionName;
                            if (string.IsNullOrEmpty(answer.Comments) && false)
                            {
                                <text>
                                    <div class="automaticAnswers" id="@(answer.ChampionId)" style="display:inline">
                                        <img class="tooltipComment imgAnswer" id="tooltipComment-@(answer.MatchupCommentId)-@(answer.ChampionId)" data-id="@(answer.MatchupCommentId)-@(answer.ChampionId)" src="http://ddragon.leagueoflegends.com/cdn/8.16.1/img/champion/@(champName).png" ; />
                                        <div id="commentId-@(answer.MatchupCommentId)-@(answer.ChampionId)" class="hidden">
                                            <div style="width:180px;">
                                                @Html.Raw(Html.Encode(answer.Comments).ReplaceLineBreakToBr())
                                            </div>
                                        </div>
                                    </div>
                                </text>
                            }
                            else
                            {
                                <text>
                                    <img class="imgAnswer automaticAnswers" id="@(answer.ChampionId)" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(champName).png" ; />
                                </text>
                            }

                        }
                        
                    </div>
                    <div class="col-md-1">
                        <input type="button" value="Create and Edit Matchup" onclick="javascript: createThisMatchup();" />
                    </div>
                </fieldset>
            </div>
        </div>
                                }
                            }
