@model IEnumerable<FirstAPI.Models.MatchupInfos>

@{
    ViewBag.Title = ViewBag.Nickname + " - Search Matchup";
    SelectList listChamp = FirstAPI.WebHelperTools.SelectListHelper.getAllChampions();
}
<br />

<div class="row">
    <div class="col-md-12">
        <fieldset id="searchFields" class="panel panel-default">
            <legend>Search Parameters <br /><span style="font-size:14px;font-style:italic"> Select Allies and / or Enemy champions to find or create the appropriate champion to pick</span></legend>
            <div class="row" id="rowSearchResults">
                <div class="col-md-3 form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label"><strong>Ally Top</strong></label>
                        </div>
                        @if (ViewBag.Role != 1)
                        {
                            <div class="col-md-8">
                                @Html.DropDownList("AllyTop", listChamp, new { @id = "AllyTop", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                            </div>
                        }
                        else
                        {
                            <text>
                                <div class="col-md-8 text-center">
                                    <label class="control-label text-center"><strong> You are the Top </strong></label>
                                </div>
                            </text>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label"><strong>Ally jungle</strong></label>
                        </div>
                        @if (ViewBag.Role != 2)
                        {
                            <div class="col-md-8">
                                @Html.DropDownList("AllyJungle", listChamp, new { @id = "AllyJungle", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                            </div>
                        }
                        else
                        {
                            <text>
                                <div class="col-md-8 text-center">
                                    <label class="control-label text-center"><strong> You are the Jungler </strong></label>
                                </div>
                            </text>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label"><strong>Ally Mid</strong></label>
                        </div>
                        @if (ViewBag.Role != 3)
                        {
                            <div class="col-md-8">
                                @Html.DropDownList("AllyMid", listChamp, new { @id = "AllyMid", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                            </div>
                        }
                        else
                        {
                            <text>
                                <div class="col-md-8 text-center">
                                    <label class="control-label text-center"><strong> You are the Mid </strong></label>
                                </div>
                            </text>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label"><strong>Ally Adc </strong></label>
                        </div>
                        @if (ViewBag.Role != 4)
                        {
                            <div class="col-md-8">
                                @Html.DropDownList("AllyAdc", listChamp, new { @id = "AllyAdc", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                            </div>
                        }
                        else
                        {
                            <text>
                                <div class="col-md-8 text-center">
                                    <label class="control-label"><strong> You are the Adc </strong></label>
                                </div>
                            </text>
                        }
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label"><strong>Ally Support</strong></label>
                        </div>
                        @if (ViewBag.Role != 5)
                        {
                            <div class="col-md-8">
                                @Html.DropDownList("AllySupoort", listChamp, new { @id = "AllySupport", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                            </div>
                        }
                        else
                        {
                            <text>
                                <div class="col-md-8 text-center">
                                    <label class="control-label"><strong>You are the Support</strong></label>
                                </div>
                            </text>
                        }
                    </div>
                    <br />

                    <br />
                </div>
                <div class="col-md-3 form-horizontal">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label"><strong>Enemy Top</strong></label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("EnemyTop", listChamp, new { @id = "EnemyTop", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label"><strong>Enemy Jungle</strong></label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("EnemyJungle", listChamp, new { @id = "EnemyJungle", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label"><strong>Enemy Mid</strong></label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("EnemyMid", listChamp, new { @id = "EnemyMid", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label"><strong>Enemy Adc</strong></label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("EnemyAdc", listChamp, new { @id = "EnemyAdc", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label"><strong>Enemy Support</strong></label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("EnemySupport", listChamp, new { @id = "EnemySupport", @class = "ddChamp", style = "width:100%;", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-horizontal">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label"><strong>Best Answers</strong></label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("BestAnswers", listChamp, new { @id = "BestAnswers", @class = "ddChamp2", style = "width:100%;", autocomplete = "off" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="text-center row loaderC"><img alt="Loading..." src="~/Content/loader.gif" /></div>
<div id="searchResults"></div>


<style>
    .imgAnswer {
        max-width: 36px;
        margin-left:3px;
        margin-bottom:3px;
    }

    #rowSearchResults {
        margin-top: -52px;
        margin-left: 10px;
    }

    #searchFields > legend {
        margin-bottom: 60px;
    }

    label {
        font-size: 13px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container {
        max-width: 1600px;
    }

    .select2-selection--single {
        height: 34px !important;
    }

    .select2-results__group {
        text-align: center;
    }

    .select2-results__options--nested {
        font-size: 12px;
        width: 140px;
    }

        .select2-results__options--nested:last-child {
            width: 136px;
        }
</style>

<script>
    $(document).ready(function () {

        function formatState(state) {
            if (!state.id) {
                return state.text;
            }
            var baseUrl = "@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())";
            var $state = $('<span><img style="height:20px" src="' + baseUrl + '/' + state.element.text + '.png"/><strong>  ' + state.element.text + '</strong></span>');
            return $state;
        }

        $(".ddChamp").select2({
            placeholder: "Choose...",
            allowClear: true,
            templateResult: formatState,
            templateSelection: formatState,
            minimumResultsForSearch: 1,
        });

        $(".ddChamp2").select2({
            placeholder: "Choose...",
            allowClear: true,
            templateResult: formatState,
            templateSelection: formatState,
            minimumResultsForSearch: 1,
        });

        $('.ddChamp').on('select2:select', function (e) {
            updateSearch();
        });

        $('.ddChamp').on('select2:clear', function (e) {
            updateSearch();
        });

        $('.ddChamp2').on('select2:select', function (e) {
            updateSearchBestAnswers();
        });

        $('.ddChamp2').on('select2:clear', function (e) {
            updateSearch();
        });

        //search at the end of process
        updateSearch();

    })



    function deleteMatchup(matchupId, matchupResponseId) {
        //console.log(matchupId);
        //console.log(matchupResponseId);
        var r = confirm("Are your sure to delete ?");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: '@(Url.Action("DeleteMatchup",null, new { controller = "Matchup" }, Request.Url.Scheme))',
                data: JSON.stringify({ matchupId: matchupId, matchupResponseId: matchupResponseId }),
                contentType: 'application/json; charset=utf-8',
                success: function (e) { window.location.reload() },
                dataType: 'json'
            });
        }
    }

    function editMatchup(matchupId) {
        var url = '@Url.Action("CustomMatchup", null, new { controller = "Matchup", playerId= ViewBag.PlayerId }, Request.Url.Scheme)?matchupId=' + matchupId
        // console.log(url);
        window.open(url);
    }

    function createNewMatchup() {
        //recup value des dropdown
        var allyTop = "";//$("#AllyTop").val();
        var allyJungle = "";//$("#AllyJungle").val();
        var allyMid = "";//$("#AllyMid").val();
        var allyAdc = "";//$("#AllyAdc").val();
        var allySupport = "";//$("#AllySupport").val();

        var EnemyTop = "";//$("#EnemyTop").val();
        var EnemyJungle = "";//$("#EnemyJungle").val();
        var EnemyMid = "";//$("#EnemyMid").val();
        var EnemyAdc = "";//$("#EnemyAdc").val();
        var EnemySupport = "";// $("#EnemySupport").val();

        //Creation object to post
        var objA = new Object();
        objA.playerId = '@(ViewBag.PlayerId)';
        objA.AllyTop = allyTop;
        objA.AllyJungle = allyJungle;
        objA.AllyMid = allyMid;
        objA.AllyAdc = allyAdc;
        objA.AllySupport = allySupport;
        objA.EnemyTop = EnemyTop;
        objA.EnemyJungle = EnemyJungle;
        objA.EnemyMid = EnemyMid;
        objA.EnemyAdc = EnemyAdc;
        objA.EnemySupport = EnemySupport;
        objA.answers = new Array();
        //recup les answers guid
        //recup les commentaires
        //var arrayAnswers = $(".automaticAnswers");
        //for (var i = 0; i < arrayAnswers.length; i++) {
        //    var answer = new Object();
        //    answer.ChampionId = arrayAnswers[i].id;
        //    objA.answers.push(answer);
        //}
        var objs = JSON.stringify(objA);


        $.ajax({
            type: "POST",
            url: '@(Url.Action("CreateNewMatchup",null, new { controller = "Matchup", playerId= ViewBag.PlayerId }, Request.Url.Scheme))',
            data: objs,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
        }).complete(function (data) {
            //$('#searchResults').html(data.responseText);
            var matchupId = data.responseJSON
            if (data.responseJSON !== undefined) {
                var url = '@(Url.Action("CustomMatchup", null, new { controller = "Matchup", playerId= ViewBag.PlayerId }, Request.Url.Scheme))?matchupId=' + data.responseJSON;
                window.open(url, "_self");
            }
        })
    }


    function createThisMatchup() {
        //recup value des dropdown
        var allyTop = $("#AllyTop").val();
        var allyJungle = $("#AllyJungle").val();
        var allyMid = $("#AllyMid").val();
        var allyAdc = $("#AllyAdc").val();
        var allySupport = $("#AllySupport").val();

        var EnemyTop = $("#EnemyTop").val();
        var EnemyJungle = $("#EnemyJungle").val();
        var EnemyMid = $("#EnemyMid").val();
        var EnemyAdc = $("#EnemyAdc").val();
        var EnemySupport = $("#EnemySupport").val();

        //Creation object to post
        var objA = new Object();
        objA.playerId = '@(ViewBag.PlayerId)';
        objA.AllyTop = allyTop;
        objA.AllyJungle = allyJungle;
        objA.AllyMid = allyMid;
        objA.AllyAdc = allyAdc;
        objA.AllySupport = allySupport;
        objA.EnemyTop = EnemyTop;
        objA.EnemyJungle = EnemyJungle;
        objA.EnemyMid = EnemyMid;
        objA.EnemyAdc = EnemyAdc;
        objA.EnemySupport = EnemySupport;
        objA.Answers = new Array();
        //recup les answers guid
        //recup les commentaires
        var arrayAnswers = $(".automaticAnswers");
        for (var i = 0; i < arrayAnswers.length; i++) {
            var answer = new Object();
            console.log()
            answer.ChampionId = arrayAnswers[i].id;
            objA.Answers.push(answer);
        }
        var objs = JSON.stringify(objA);


        $.ajax({
            type: "POST",
            url: '@(Url.Action("CreateNewMatchup",null, new { controller = "Matchup", playerId= ViewBag.PlayerId }, Request.Url.Scheme))',
            data: objs,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
        }).complete(function (data) {
            //$('#searchResults').html(data.responseText);
            var matchupId = data.responseJSON
            if (data.responseJSON !== undefined) {
                var url = '@(Url.Action("CustomMatchup", null, new { controller = "Matchup", playerId= ViewBag.PlayerId }, Request.Url.Scheme))?matchupId=' + data.responseJSON;
                window.open(url, "_self");
            }
        })
    }

    function updateSearch() {
        $("#searchResults").hide();
        $(".loaderC").show();
        //recup value des dropdown
        var allyTop = $("#AllyTop").val();
        var allyJungle = $("#AllyJungle").val();
        var allyMid = $("#AllyMid").val();
        var allyAdc = $("#AllyAdc").val();
        var allySupport = $("#AllySupport").val();

        var EnemyTop = $("#EnemyTop").val();
        var EnemyJungle = $("#EnemyJungle").val();
        var EnemyMid = $("#EnemyMid").val();
        var EnemyAdc = $("#EnemyAdc").val();
        var EnemySupport = $("#EnemySupport").val();

        //Creation object to post
        var objA = new Object();
        objA.playerId = '@(ViewBag.PlayerId)';
        objA.AllyTop = allyTop;
        objA.AllyJungle = allyJungle;
        objA.AllyMid = allyMid;
        objA.AllyAdc = allyAdc;
        objA.AllySupport = allySupport;
        objA.EnemyTop = EnemyTop;
        objA.EnemyJungle = EnemyJungle;
        objA.EnemyMid = EnemyMid;
        objA.EnemyAdc = EnemyAdc;
        objA.EnemySupport = EnemySupport;
        objA.Answers = new Array();

        var objs = JSON.stringify(objA);
        setTimeout(function () {
            $.ajax({
                type: "POST",
                url: '@(Url.Action("UpdateSearchResults",null, new { controller = "Matchup", playerId= ViewBag.PlayerId }, Request.Url.Scheme))',
                data: objs,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            }).complete(function (data) {
                $("#searchResults").show();
                $(".loaderC").hide();
                $('#searchResults').html(data.responseText);
                //automaticSearch()
                $(".tooltipComment").each(function () {
                    var commentId = $(this).attr('data-id');
                    var comment = $('#commentId-' + commentId).html();
                    $("#tooltipComment-" + commentId).tooltip({ html: true, placement: "top", title: comment });
                    //console.log($(this));
                    //console.log(commentId);
                    //console.log(comment);
                });
            })
        }, 150);
    }

    function updateSearchBestAnswers() {
        $("#searchResults").hide();
        $(".loaderC").show();
        //recup value des dropdown
        var bestAnswers = $("#BestAnswers").val();
        
        console.log(bestAnswers);
        //Creation object to post
        setTimeout(function () {
            $.ajax({
                type: "POST",
                url: '@(Url.Action("UpdateSearchResultsBestAnswers", null, new { controller = "Matchup", playerId= ViewBag.PlayerId }, Request.Url.Scheme))',
                data: { championId: bestAnswers },
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            }).complete(function (data) {
                $("#searchResults").show();
                $(".loaderC").hide();
                $('#searchResults').html(data.responseText);
                //automaticSearch()
                $(".tooltipComment").each(function () {
                    var commentId = $(this).attr('data-id');
                    var comment = $('#commentId-' + commentId).html();
                    $("#tooltipComment-" + commentId).tooltip({ html: true, placement: "top", title: comment });
                    //console.log($(this));
                    //console.log(commentId);
                    //console.log(comment);
                });
            })
        }, 150);
    }

</script>
