@model IEnumerable<FirstAPI.Models.MatchupInfos>

@{
    var myResult = new List<FirstAPI.Models.MatchupInfos>();
    var automaticResults = (FirstAPI.Models.MatchupInfos)ViewBag.AutomaticResults;
    if (automaticResults?.Answers?.Count() > 0)
    {
        myResult.Add(automaticResults);
    }
}


<div id="automaticSearchResults">
    @if (myResult.Count() > 0)
    {
        @Html.Partial("AutomaticResults", (FirstAPI.Models.MatchupInfos)ViewBag.AutomaticResults)
    }
</div>

@if (Model.Count() > 0)
{
    <text>
        <fieldset class="panel panel-default" id="fieldsetAnswer" style="padding-bottom:10px;">
            <legend>Your Answers <small style="font-size:12px"> (Find in @ViewBag.CalculationTime secs) <input type="button" value="Create New Answer" onclick="javascript: createNewMatchup();" /> </small></legend>
    </text>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-3 text-center">
            Ally Team
        </div>
        <div class="col-md-3 text-center">
            Enemy Team
        </div>
        <div class="col-md-1 text-center">
            Patch Version
        </div>
        <div class="col-md-5 text-center">
            Best Answers
        </div>
    </div>
        <div class="row">
            <div class="col-md-3">
                <span class="col-md-2" style="margin-left:4px">
                    Top
                </span>
                <span class="col-md-2" style="margin-left:-6px">
                    Jungle
                </span>
                <span class="col-md-2 " style="margin-left: 9px;">
                    Mid
                </span>
                <span class="col-md-2 " style="margin-left: -2px;">
                    Adc
                </span>
                <span class="col-md-2 " style="margin-left: -11px;">
                    Support
                </span>
            </div>
            <div class="col-md-3">
                <span class="col-md-2" style="margin-left:5px">
                    Top
                </span>
                <span class="col-md-2" style="margin-left:-9px">
                    Jungle
                </span>
                <span class="col-md-2" style="margin-left: 11px;">
                    Mid
                </span>
                <span class="col-md-2" style="margin-left: -1px;">
                    Adc
                </span>
                <span class="col-md-2" style="margin-left: -10px;">
                    Support
                </span>
            </div>
            <div class="col-md-1 text-center">
            </div>
            <div class="col-md-4 text-center">
                @*<div class="col-md-2 text-center">
                        Picks
                    </div>
                    <div class="col-md-2 text-center">
                        Comments
                    </div>*@
            </div>
        </div>
        <hr />
    foreach (var matchupInfos in Model)
    {
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.AllyTopName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyTopName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.AllyJungleName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyJungleName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.AllyMidName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyMidName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.AllyAdcName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllyAdcName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.AllySupportName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.AllySupportName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.EnemyTopName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyTopName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.EnemyJungleName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyJungleName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.EnemyMidName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyMidName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.EnemyAdcName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemyAdcName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
                <div class="col-md-2">
                    @if (!string.IsNullOrEmpty(matchupInfos.EnemySupportName))
                    {
                        <text>
                            <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(matchupInfos.EnemySupportName).png" ; />
                        </text>
                    }
                    else
                    {
                        <text>
                            <span><i>N/A</i></span>
                        </text>
                    }
                </div>
            </div>
            <div class="col-md-1">
                <div class="col-md-1 col-md-offset-2">
                    @(matchupInfos.PatchVersion)
                </div>
            </div>
            <div class="col-md-4">
                @{
                    string champName;
                }
                @foreach (var answer in matchupInfos.Answers)
                {
                    champName = ((List<FirstAPI.DbContext.Champion>
                        )Session["GlobalChampions"]).Where(x => x.ChampionId == answer.ChampionId).FirstOrDefault().ChampionName;
                    <text>
                            @if (!String.IsNullOrEmpty(answer.Comments))
                            {
                                <img class="tooltipComment imgAnswer" id="tooltipComment-@(answer.MatchupCommentId)-@(answer.ChampionId)" data-id="@(answer.MatchupCommentId)-@(answer.ChampionId)" src="http://ddragon.leagueoflegends.com/cdn/8.16.1/img/champion/@(champName).png" ; />
                                <div id="commentId-@(answer.MatchupCommentId)-@(answer.ChampionId)" class="hidden">
                                    <div style="width:180px;">
                                        @Html.Raw(Html.Encode(answer.Comments).ReplaceLineBreakToBr())
                                    </div>
                                </div>
                            }
                            else
                            {
                                <img class="imgAnswer" src="@(ConfigurationManager.AppSettings["UrlImgChamp"].ToLower())@(champName).png" ; />
                            }
                    </text>
                }
            </div>
            <div class="col-md-1">
                <span style="cursor:pointer" onclick="editMatchup('@(matchupInfos.MatchupId)')">Edit</span> |
                <span style="cursor:pointer" onclick="deleteMatchup('@(matchupInfos.MatchupId)','@(matchupInfos.MatchupResponseId)')">Delete</span>
            </div>
        </div>
        <hr />

                    }
                    }
                    else if (myResult.Count() == 0)
                    {
                        <div class="col-md-3">
                            No Results : <input type="button" value="Create New Answer" onclick="javascript: createThisMatchup();" />
                        </div>
                    }
